<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
    <title>Fayura</title>
</head>
<body>
        <nav class="menubar">
            <img src="../assets/FayuraStripe.png" alt="Fayura Logo" class="logo">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Goals</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>
    <header>
            <div class="intro">
                <img src="../assets/titleimg.png" alt = "banner" class="banner">
                <h4>Leading the world into the Future.</h4>
            </div>
    </header>
    <main>
        <h2>Our Story</h2>
        <br><br>
        <p>
            <span class="time">TIME: December 11 2020<br><br></span>
            
            Suraj and Saai co-founders of Fayura were having on of their 
            usual <span class="info">loooooong</span> phone calls.<br><br>

            <span class="time">The clock struck 11...PM.<br><br></span>
            
            Suraj had a <span style="color:red">MATH EXAM</span> the next day!!, and 
            Saai was about to cut the call,but that's when Suraj's brain started to work.<br>

            He asked Saai if he wanted to revive NAD, a group called 
            <span class="info">Noobie App Developers.</span><br>
            Suraj and Saai were school friends and <span class="info">barely have any similar tastes,</span>
            In fact the only thing they liked in common, was <span class="info">TECH.</span><br>

            Saai thought for a while and said<span class="info">..."OK"</span>, 
            since NAD was a <span class="info">huuuuuuge</span> failure and reviving it wasn't gonna be easy.
            It wasn't their first failure either, they had <span class="info">failed a million</span> times before that.
            <span class="info">Suraj proposed the name "Fayura".<br></span> Saai: "Why?"<br>
            Suraj: For "Future Era"<br>
            Saai: <span class="info">How about "Fuch" for future tech.</span><br><br>

            And they kept fooling around for a while, they were thinking <span class="info">star names, planet names,element names, scientific names</span> 
            like "AEX-143" or something of that sort and <span class="info">an hour passed.</span>

            All names were taken and they coundn't figure out a good name and after a lot of thought<br>
            <span class="info">Saai: Fayura sounds nice bro.</span><br>

            Suraj: Does it?<br>
            Saai: We don’t have much time bro...<br>
            (They wanted to remember the founding time too...)<br><br>

            <span class="time">TIME: 12:12 12-12-2020<br><br></span>

            So Saai started by creating a mail ID on google, but google smelled a possible competitor and shadow banned him!!
            The clock struck 12:13 and they lost their window.<br><br>

            <span class="time">TIME: 12:20 12-12-2020<br><br></span>

            Once again suraj tried to create a mail id,
            but then google shadow banned him too, maybe for trying to 
            create a mail id from the same username. Anyhow...things didn't work out that well with gmail.<br><br>

            <span class="time">TIME: 12:40 12-12-2020<br><br></span>

            Suraj tried to make the mail id this time but on protonmail.
            It WORKED!!<br>
            
            Saai immedietaly connected it to
            github and made an organisation and named it Fayura.
            And thus...12:40 AM December 12, 2020.<br>

            Not long after that, Suraj's exams ended and Saai made a discord server and all the organisation's founding members joined
            They discussed and made several plans for the future.<br>
            <span style="color:yellow">Do not forget to look at them.</span>
        </p>
    </main>
    <footer>
        <h6 id="copyright" style="color:azure;text-align:right;">Copyright(C) Fayura2020</h6>
    </footer>
</body>
</html>